

<table>
  <thead>
    <tr>
      <th>投稿一覧</th>
    </tr>
  </thead>
  <tbody>
     <tr>
    	 <td>
    	   <% game_comments.each do |game_comment| %>
    	     <%= game_comment.game_content %>:<%= game_comment.user.nick_name %>
           <%= game_comment.created_at.strftime('%Y/%m/%d') %>
           <div id="favorites_buttons_<%= @game.id %>_<%= game_comment.id %>">
             <%= render "users/favorites/favorites", game: game, game_comment: game_comment %>
           </div>
           <% if game_comment.user == current_user %>
             <%= form_with model:[game,game_comment],method: :delete do |f| %>
               <%= f.submit "削除", class: "btn btn-primary pull-right" %>
        　    <% end %>
            <% end %>
          <% end %>
       </td>
    </tr>
  </tbody>
</table>