<table class='table'>
  <tr><%= attachment_image_tag(user, :user_image, :fill, 100, 100, fallback: "no_image_user.png") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.nick_name %></th>
  </tr>
  <tr>
	  <th>プロフィール</th>
	  <th><%= user.profile%></th>
  </tr>
  <tr>
     <th>follows: <%= user.followings.count %></th>
     </tr>
     <tr>
     <th>followers: <%= user.followers.count %></th>
  </tr>
</table>

<div class='row'>
   <% if user == current_user %>
   <%= link_to '編集へ',edit_admins_team_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog " %>
  <% end %>
</div>