<h5>
  <div class="font-weight-bold">
   会員情報編集
  </div>
</h5>
<%= form_with model: @user, url: user_path(@user),method: :patch, local: true do |f| %>
  <div class="form-inline">
       <div class="form-group">
          <div class="nick_name" >
            <div class="ml-2">
         <%= f.label :ニックネーム %>
            </div>
          </div>
        <div class=" d-flex align-items-center justify-content-center" style="height:80px" >
           <%= f.text_field :nick_name, autofocus: true %>
          </div>
        </div>
      </div>
    <div class="form-inline">
      <div class="form-group">
        <div class="postal-code">
          <div class="ml-3 ">
      <%= f.label :プロフィール %>
          </div>
            </div>
          <div class="ml-4 d-flex align-items-center justify-content-center" style="height:40px">
      <%= f.text_area :profile, autofocus: true, :placeholder =>"0000000" %><br />
          </div>
        </div>
      </div>
    <div class="form-inline">
      <div class="form-group">
        <div class="address">
          <div class="ml-3 mr-5">
      <%= f.label :ファンチーム %>
          </div>
            </div>
           　 <div class="ml-5 d-flex align-items-center justify-content-center"style="height:60px">
      <%= f.collection_select(:team_id, Team.all, :id, :team_name, prompt: "-- 選択してください --", class: "col-sm-9 team_id") %><br />
             </div>
            </div>
         </div>
     <div class="form-inline">
       <div class="form-group">
      　<lavel>名前</lavel>
          <div class="fist_name" >
            <div class="ml-5">
         <%= f.label :（性）%>
            </div>
          </div>
        <div class="ml-2 d-flex align-items-center justify-content-center" style="height:60px" >
        <%= f.text_field :first_name, autofocus: true, :placeholder =>"令和"%>
       </div>
         <div class="last_name">
           <div class="ml-2">
         <%= f.label :（名）%>
           </div>
         </div>
           <div class="ml-3" >
       <%= f.text_field  :last_name, autofocus: true, :placeholder =>"道子" %>
           </div>
        </div>
      </div>
  <div class="form-inline">
       <div class="form-group">
      　<lavel> ふりがな </lavel>

          <div class="fist_name" >
            <div class="ml-2">
         <%= f.label :（せい）%>
            </div>
          </div>
        <div class=" d-flex align-items-center justify-content-center" style="height:80px" >
        <%= f.text_field :first_name_kana, autofocus: true, :placeholder =>"令和"%>
       </div>
         <div class="last_name">
           <div class="ml-2">
         <%= f.label :（めい）%>
           </div>
         </div>
       <%= f.text_field  :last_name_kana, autofocus: true, :placeholder =>"道子" %>
           </div>
        </div>
    <div class="form-inline">
      <div class="form-group">
        <div class="postal-code">
          <div class="ml-4 ">
      <%= f.label :メールアドレス %>
          </div>
            </div>
          <div class="ml-5 d-flex align-items-center justify-content-center" style="height:60px">
      <%= f.email_field :email, autofocus: true, :placeholder =>"0000000" %><br />
          </div>
        </div>
      </div>
    <div class="form-inline">
      <div class="form-group" style= height:60px >
        <div class="actns" >
      <%= f.submit "編集内容を保存", class: "ml-2 btn px-5  btn-success font-weight-bold" %>
        </div>

     <div class="form-inline">
       <div class="form-group">
         <div class="actns">
      <%= link_to "退会する",user_quit_path(@user), class: "ml-2 btn px-5  btn-danger font-weight-bold" %>
        </div>
      </div>
    </div>
  </div>
<% end %>