
      <table>
        <thead>
          <tr class="info">
            <th>チーム</th>
          </tr>
        </thead>
        <tbody>
  		   <% @teams.each do |team| %>
    		<tr>
    		  <td class="info col-xs-1">
    			<%= team.team_name %>
                <% if @game.already_game_teamed?(team) %>
                <%= button_to "チームを外す",  admins_team_game_team_path(team.id,@game.id), method: :delete %>
                <% else %>
                <%= button_to "チームを加える", "/admins/teams/#{team.id}/game_teams?id=#{@game.id}", method: :post %>
                <% end %>
          <% end %>
          </td>
           <td class="info col-xs-1">
            <% @game_team_teams.each do |team| %>
              <%= team.team_name %>
            </td>
            <td class="info col-xs-1">
              <%= link_to "チーム成績作成",admins_team_team_results_path(team.id,game_id: @game.id ), method: :post  %>
            </td>
            <td>
              <%= link_to "選手成績一覧へ", admins_game_play_players_path(@game,team_id: team.id ) %>
           </td>
           <td>
              <%= link_to "チーム試合成績一覧へ", admins_team_team_results_path(team,game_id: @game.id ) %>
           </td>
          <% end %>
          <td>
             <% @game_teams.each do |game_team| %>
                <%= form_with model:game_team, url:admins_team_game_team_path(game_team.team_id),method: :patch, local:true do |f|%>

			       <% if game_team.is_afters == true %>
					 先攻：
				   <% elsif game_team.is_afters == false %>
					 後攻：
				   <% end %>
                  <%= f.radio_button :is_afters, true %>
                  <%= f.label :is_afters, "先攻", value: true %>

                  <%= f.radio_button :is_afters, false %>
                  <%= f.label :is_afters, "後攻", value: false %>

                <%= f.submit "変更を保存", class: "btn btn-primary pull-right" %></td>
                <% end %>
            <% end %>
           </td>
          <%= form_with model:@game, url: {controller: 'games', action: 'update'}, class: "form-horizontal", method: :patch, local: true do |f| %>

             <td class="form-group">
               <%= @game.game_show %>
              </td>
            <td class="form-group">
              経過<%= f.text_field :game_show, class: "col-sm-9 form-control-static name" %>
            </td>
             <td>
               S <%= f.select :strike,Game.strikes.keys %>
            </td>
            <td>
               B <%= f.select :boll,Game.bolls.keys %>
            </td>
            <td>
               O <%= f.select :out,Game.outs.keys %>
            </td>
            <td>
                <%= f.select :game_status,Game.game_statuses.keys %>
            </td>
            <td class="form-group">
                <%= f.submit "変更を保存", class: "btn btn-primary pull-right" %>
          <% end %>
            </td>
         </tr>
      </tbody>
   </table>

<% @game_players.each do |player| %>
  <%= form_with model:player, url: admins_team_player_game_player_path(player_id: player.player.id,team_id: player.player.team.id), class: "form-horizontal", method: :patch, local: true do |f| %>
    <td><% if player.player.play_status == true  %>
        <%= player.player.first_name %><%= player.player.last_name %>：打席結果 <%= f.text_field :results %>
        <% end %>
    </td>
    <td><% if player.player.play_status == true && player.player.position_status == "P" %>
       <%= player.player.first_name %><%= player.player.last_name %>：球数 <%= f.number_field :boll_count %>
        失点 <%= f.number_field :point_lost %>
        <% end %>
    <td>
       <%= f.submit "変更を保存", class: "btn btn-primary pull-right" %>
   </td>
  <% end %>
  </td>
<% end %>

<table border="1">
  <tr>
    <th>日本語</th>
    <th>英語</th>
  </tr>
  <tr>
    <td>東京</td>
    <td>Tokyo</td>
  </tr>
  <tr>
    <td>大阪</td>
    <td>Osaka</td>
  </tr>
</table>