
      <table>
        <thead>
          <tr class="info">
            <th>チーム</th>
          </tr>
        </thead>
        <tbody>
  		   <% @teams.each do |team| %>
    		<tr>
    		  <td class="info col-xs-1">
    			<%= team.team_name %>
                <% if @game.already_game_teamed?(team) %>
                <%= button_to "チームを外す", admins_team_game_team_path(team.id,@game.id), method: :delete %>
                <% else %>
                <%= button_to "チームを加える", "/admins/teams/#{team.id}/game_teams?id=#{@game.id}", method: :post %>
                <% end %>
          <% end %>
          </td>

           <td class="info col-xs-1">
            <% @game_team_teams.each do |team| %>
              <%= team.team_name %>
            </td>
          <% end %>
          <td class="info col-xs-1">
             <% @game_teams.each do |game_team| %>
                <%= form_with model:game_team, url:admins_team_game_team_path(game_team.team_id),method: :patch, local:true do |f|%>

			              <% if game_team.is_afters == true %>
						        先攻
					          <% elsif game_team.is_afters == false %>
					          後攻
					          <% end %>
                  <%= f.radio_button :is_afters, true %>
                  <%= f.label :is_afters, "先攻", value: true %>

                  <%= f.radio_button :is_afters, false %>
                  <%= f.label :is_afters, "後攻", value: false %>

                <td><%= f.submit "変更を保存", class: "btn btn-primary pull-right" %></td>
                <% end %>
            <% end %>
           </td>


          <%= form_with model:@game, url: {controller: 'games', action: 'update'}, class: "form-horizontal", local: true do |f| %>

             <div class="form-group">
                <td><%= @game.game_show %></td>
             </div>

             <div class="form-group">
                <td><%= f.text_field :game_show, class: "col-sm-9 form-control-static name" %></td>
            </div>
            <div class="form-group">
                <td><%= f.submit "変更を保存", class: "btn btn-primary pull-right" %></td>
             </div>

          <% end %>
          </tr>
        </tbody>
      </table>